// import bootstrap
@import '../../../node_modules/bootstrap/scss/bootstrap';

@import 'header';
@import 'form';
@import 'global';



.section {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    margin: 20px 0;
    &__header {
      padding: .75rem 1.25rem;
      margin-bottom: 0;
      background-color: #f7f7f9;
      border-bottom: 1px solid rgba(0,0,0,.125);
      &::first-child {
      border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;

      }
    }

    &__content {
      flex: 1 1 auto;
      padding: 1.25rem;
    }
}
